<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Page Wonder - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.min.css" rel="stylesheet">
    <link href="css/resume.min.css" rel="stylesheet">


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" style="color: white" href="/home">Home - Apiary farm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/usersAccount">User's account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav2 class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger"></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#calendar">Calendar</a>
            </li>
        </ul>
    </div>
</nav2>

<div class="container-fluid p-0">
    <center>
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="calendar">
            <div class="col-md-8" style="height: 90%;overflow: auto; display: inline-block">
                <table>
                    <thead th:switch="${month}">
                    <form style="display: inline-block" method="get" action="/previouseMonth">
                        <input name="year" type="hidden" th:value="${year}">
                        <input name="month" type="hidden" th:value="${month}">
                        <input type="submit" class="btn btn-primary"
                               value="<---">
                    </form>
                    <h3 style="display: inline-block; margin-left: 2%;" th:text="${year} + ' : '"></h3>

                    <h3 style="display: inline-block; margin-left: 1%; margin-right: 2%" th:case="1">January</h3>
                    <h3 style="display: inline-block; margin-left: 1%; margin-right: 2%" th:case="2">February</h3>
                    <h3 style="display: inline-block; margin-left: 1%; margin-right: 2%" th:case="3">March</h3>
                    <h3 style="display: inline-block; margin-left: 1%; margin-right: 2%" th:case="4">April</h3>
                    <h3 style="display: inline-block; margin-left: 1%; margin-right: 2%" th:case="5">May</h3>
                    <h3 style="display: inline-block; margin-left: 1%; margin-right: 2%" th:case="6">June</h3>
                    <h3 style="display: inline-block; margin-left: 1%; margin-right: 2%" th:case="7">July</h3>
                    <h3 style="display: inline-block; margin-left: 1%; margin-right: 2%" th:case="8">August</h3>
                    <h3 style="display: inline-block; margin-left: 1%; margin-right: 2%" th:case="9">September</h3>
                    <h3 style="display: inline-block; margin-left: 1%; margin-right: 2%" th:case="10">October</h3>
                    <h3 style="display: inline-block; margin-left: 1%; margin-right: 2%" th:case="11">November</h3>
                    <h3 style="display: inline-block; margin-left: 1%; margin-right: 2%" th:case="12">December</h3>
                    <form style="display: inline-block" method="get" action="/nextMonth">
                        <input name="year" type="hidden" th:value="${year}">
                        <input name="month" type="hidden" th:value="${month}">
                        <input type="submit" class="btn btn-primary"
                               value="--->">
                    </form>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(0)} == true" name="day" type="submit" value="1" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(0)} == true" name="day" type="submit" value="1">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(1)} == true" name="day" type="submit" value="2" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(1)} == true" name="day" type="submit" value="2">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(2)} == true" name="day" type="submit" value="3" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(3)} == true" name="day" type="submit" value="3">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(3)} == true" name="day" type="submit" value="4" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(3)} == true" name="day" type="submit" value="4">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(4)} == true" name="day" type="submit" value="5" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(4)} == true" name="day" type="submit" value="5">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(5)} == true" name="day" type="submit" value="6" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(5)} == true" name="day" type="submit" value="6">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(6)} == true" name="day" type="submit" value="7" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(6)} == true" name="day" type="submit" value="7">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(7)} == true" name="day" type="submit" value="8" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(7)} == true" name="day" type="submit" value="8">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(8)} == true" name="day" type="submit" value="9" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(8)} == true" name="day" type="submit" value="9">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(9)} == true" name="day" type="submit" value="10" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(9)} == true" name="day" type="submit" value="10">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(10)} == true" name="day" type="submit" value="11" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(10)} == true" name="day" type="submit" value="11">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(11)} == true" name="day" type="submit" value="12" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(11)} == true" name="day" type="submit" value="12">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(12)} == true" name="day" type="submit" value="13" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(12)} == true" name="day" type="submit" value="13">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(13)} == true" name="day" type="submit" value="14" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(13)} == true" name="day" type="submit" value="14">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(14)} == true" name="day" type="submit" value="15" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(14)} == true" name="day" type="submit" value="15">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(15)} == true" name="day" type="submit" value="16" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(15)} == true" name="day" type="submit" value="16">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(16)} == true" name="day" type="submit" value="17" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(16)} == true" name="day" type="submit" value="17">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(17)} == true" name="day" type="submit" value="18" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(17)} == true" name="day" type="submit" value="18">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(18)} == true" name="day" type="submit" value="19" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(18)} == true" name="day" type="submit" value="19">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(19)} == true" name="day" type="submit" value="20" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(19)} == true" name="day" type="submit" value="20">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(20)} == true" name="day" type="submit" value="21" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(20)} == true" name="day" type="submit" value="21">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(21)} == true" name="day" type="submit" value="22" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(21)} == true" name="day" type="submit" value="22">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(22)} == true" name="day" type="submit" value="23" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(22)} == true" name="day" type="submit" value="23">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(23)} == true" name="day" type="submit" value="24" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(23)} == true" name="day" type="submit" value="24">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(24)} == true" name="day" type="submit" value="25" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(24)} == true" name="day" type="submit" value="25">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(25)} == true" name="day" type="submit" value="26" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(25)} == true" name="day" type="submit" value="26">
                            </form>
                        </td>
                        <td>
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(26)} == true" name="day" type="submit" value="27" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(26)} == true" name="day" type="submit" value="27">
                            </form>
                        </td>
                        <td th:if="${size >= 28} == true">
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(27)} == true" name="day" type="submit" value="28" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(27)} == true" name="day" type="submit" value="28">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td th:if="${size >= 29} == true">
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(28)} == true" name="day" type="submit" value="29" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(28)} == true" name="day" type="submit" value="29">
                            </form>
                        </td>
                        <td th:if="${size >= 30} == true">
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(29)} == true" name="day" type="submit" value="30" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(29)} == true" name="day" type="submit" value="30">
                            </form>
                        </td>
                        <td th:if="${size >= 31} == true">
                            <form action="/calendar" method="post">
                                <input name="month" type="hidden" th:value="${month}">
                                <input name="year" type="hidden" th:value="${year}">
                                <input th:if="${eventsList.get(30)} == true" name="day" type="submit" value="31" style="color: #BD5D38">
                                <input th:unless="${eventsList.get(30)} == true" name="day" type="submit" value="31">
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </center>
</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/resume.min.js"></script>

</body>

</html>
