<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Page Wonder - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.min.css" rel="stylesheet">
    <link href="css/resume.min.css" rel="stylesheet">


</head>

<body style="background-image: url('img/meadow/6.jpg')">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" style="color: white" href="/home">Home - Apiary farm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/usersAccount">User's account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav2 class="navbar navbar-expand-lg navbar-dark  fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger"></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <font size="6">
                <li class="nav-item">
                    <a class="nav-link" href="/taskList">Task list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calendar">Helpful</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/report">Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/photoGallery">Gallery</a>
                </li>
            </font>
        </ul>
    </div>
</nav2>

<center>
    <div style="color: white; margin-bottom: 1%; margin-top: 6%">
        <h2>My apiary</h2>
    </div>

    <div class="col-md-8" style="height: 650px;overflow: auto">
        <ul style="margin-top: 2%" th:each="apiary : ${apiaryList}">
            <div class="card" style="opacity: 0.8">
                <div class="card-header card-header-icon card-header-rose" style="padding: 1%">
                    <h4 class="card-title" style="display: inline-block" th:text="${apiary.name}"></h4>
                </div>

                <div class="card-body">
                    <div class="row align-items-center justify-content-center text-center">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="bmd-label-floating">Location:</label>
                                <a style="color: black" th:text="${apiary.location}"></a>
                                <hr class="m-0">
                                <label class="bmd-label-floating">Description:</label>
                                <a style="color: black" th:text="${apiary.description}"></a>
                                <hr class="m-0">
                                <label class="bmd-label-floating">Owner::</label>
                                <a style="color: black" th:text="${apiary.owner}"></a>
                            </div>
                            <form method="get" action="apiary">
                                <input name="apiaryId" th:value="${apiary.id}" type="hidden">
                                <input type="submit" class="btn btn-primary"
                                       value="Open">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </ul>

        <div style="float: right">
            <form method="get" action="/addNewApiary">
                <input type="submit" class="btn btn-primary"
                       value="Add new">
            </form>
        </div>
    </div>
</center>
</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/resume.min.js"></script>

</body>

</html>
