<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Page Wonder - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body style="background-image: url('img/meadow/4.jpg')">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
                <font size="6">
                    <a style="color: white" href="/login">Login</a>
                </font>
            </li>
        </ul>
    </div>
    </div>
</nav>

<!-- Masthead -->
<div class="container-fluid p-0" style="margin-top: 8%; alignment: left">
    <div>

        <div style="width: 49%; display: inline-block; margin-left: 1%; padding: 1%">
            <center>
                <img src='img/bee6.png' width="200" height="200">
            </center>
        </div>

        <center>
            <div style="display: inline-block" class="align-items-center justify-content-center text-center">
                <form method="post" action="/register">
                    <div class="form-group has-default">
                        <div class="form-group">
                            <input name="firstName" class="form-control" placeholder="First name..." required
                                   type="text" minlength="3" maxlength="30">
                        </div>
                    </div>

                    <div class="form-group has-default">
                        <div class="form-group">
                            <input name="lastName" class="form-control" placeholder="Last name..." required
                                   type="text" minlength="3" maxlength="30">
                        </div>
                    </div>



                    <div class="form-group has-default">
                        <div class="form-group">
                            <input name="address" class="form-control" placeholder="Address..." required
                                   type="text" minlength="3" maxlength="30">
                        </div>
                    </div>

                    <div class="form-group has-default">
                        <div class="form-group">
                            <input name="phoneNumber" type="text" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"
                                   class="form-control" placeholder="Phone number" required>
                            <span class="note">Format: 123-456-789</span>
                        </div>
                    </div>

                    <div class="form-group has-default">
                        <div class="form-group">
                            <input name="email" class="form-control" placeholder="Email..." required
                                   type="email" minlength="3" maxlength="30">
                        </div>
                    </div>

                    <div class="form-group has-default">
                        <div class="form-group">
                            <input name="password1" class="form-control" placeholder="Password..." required
                                   type="password" minlength="3" maxlength="20">
                        </div>
                    </div>

                    <div class="form-group has-default">
                        <div class="form-group">
                            <input name="password2" class="form-control" placeholder="Confirm password..." required
                                   type="password" minlength="3" maxlength="20">
                        </div>
                    </div>

                    <div class="form-group has-default">
                        <div class="text-center">
                            <input class="btn btn-primary" type="submit" value="register">
                        </div>
                    </div>

                    <div th:if="${message} != null" th:class="'my-4 alert alert-' + ${messageType}"
                         th:text="${message}" role="alert">
                    </div>
                </form>
            </div>
        </center>
    </div>
</div>

</body>

</html>
